name: deploy

on:
  push:
    branches: [ "main" ]
    paths-ignore:
      - ".github/workflows/**"
  pull_request:
    branches: [ "main" ]
    paths-ignore:
      - ".github/workflows/**"

jobs:

  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven
      - name: Build with Maven
        run: mvn -B package --file pom.xml

  push-to-docker:
    needs: build-and-test
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Log in to Docker Hub
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      - name: Build Docker image
        run: docker build -t ${{ secrets.DOCKER_USERNAME }}/syncspace:latest .

      - name: Push to Docker Hub
        run: docker push ${{ secrets.DOCKER_USERNAME }}/syncspace:latest

  deploy-ec2:
    needs: push-to-docker
    runs-on: ubuntu-latest

    steps:
      - name: Connect to EC2 and deploy
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            cd /home/ec2-user/app/SyncSpace-SpringBoot
            git pull
            docker-compose down
            cd syncspace-ui
            npm install
            npm run build
            cd ..
            docker pull fareselsadek/syncspace:latest
            docker-compose up -d --force-recreate
            docker image prune -f